code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #b3e6ff;
}

.title {
  text-align: center;
}

.logo {
  text-align: center;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.row {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.spinner {
  position: absolute;
  margin-top: 100px;
  margin-left: 50%;
  margin-right: 50%;
}
.column {
  float: left;
  padding: 0 15px;
}

.span_4 {
  width: 33.3333%;
}
