<div class="app">
  <h2 class="title">{{ title }}</h2>
  <div class="logo">
    <img src="assets/logo.svg" height="150px" alt="logo" />
  </div>
  <div>
    <mat-card>
      <form [formGroup]="searchForm">
        <mat-form-field appearance="outline">
          <mat-label>Search By</mat-label>
          <mat-select formControlName="search">
            <mat-option *ngFor="let type of searchType" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Search {{ selectedSearchType }}</mat-label>
          <input matInput formControlName="phrase" />
        </mat-form-field>
        <!-- <button
          mat-mini-fab
          color="primary"
          type="submit"
          aria-label="Search button"
        >
          <mat-icon>search</mat-icon>
        </button> -->
      </form>
    </mat-card>
    <div [ngSwitch]="selectedSearchType">
      <app-movies
        *ngSwitchCase="searchType[0]"
        [movies]="ELEMENT_DATA"
        [loading]="loading"
      ></app-movies>
      <app-actors
        *ngSwitchCase="searchType[1]"
        [movies]="ELEMENT_DATA"
        [loading]="loading"
      ></app-actors>
    </div>
  </div>
</div>
